
media-view, media-view > .container, media-view > .container > .panner, media-view > .container > .panner > .fitter {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

media-view {
  overflow: hidden;
}

media-view [slot] {
  display: none;
}

media-view > div.loading [slot="loading"], media-view > div.error [slot="error"] {
  display: initial;
}


media-view > .container > .panner {
  --pan-start-x: 0;
  --pan-start-y: 0;
  --pan-end-x: 0;
  --pan-end-y: 0;
  --pan-start-scale: 1;
  --pan-end-scale: 1;
  --pan-duration: 0s;
  --pan-direction: normal;
  --pan-iteration-count: 0;

  animation-name: media-view-pan;
  animation-duration: var(--pan-duration);
  animation-direction: var(--pan-direction);
  animation-iteration-count: var(--pan-iteration-count);
  animation-timing-function: linear;

  animation-play-state: paused;
}

media-view > .container > .panner.unpaused {
  animation-play-state: running;
}

@keyframes media-view-pan {
  0% {
    transform: translate(var(--pan-start-x), var(--pan-start-y)) scale(var(--pan-start-scale));
  }
  100% {
    transform: translate(var(--pan-end-x), var(--pan-end-y)) scale(var(--pan-end-scale));
  }
}





media-view .lds-spinner {
  color: official;

  object-fit: scale-down;
  object-position: 50% 50%;
  width: 64px;
  height: 64px;
}
media-view .lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
media-view .lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #fff;
}
media-view .lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
media-view .lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
media-view .lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
media-view .lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
media-view .lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
media-view .lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
media-view .lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
media-view .lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
media-view .lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
media-view .lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
media-view .lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
media-view .lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
